<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated portailOLD -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="portail.presentation.PortailModelWizardID"
            name="%_UI_PortailModelWizard_label"
            class="portail.presentation.PortailModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/PortailModelFile.gif">
         <description>%_UI_PortailModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated portailOLD -->
      <editor
            id="portail.presentation.PortailEditorID"
            name="%_UI_PortailEditor_label"
            icon="icons/full/obj16/PortailModelFile.gif"
            extensions="portail"
            class="portail.presentation.PortailEditor"
            contributorClass="portail.presentation.PortailActionBarContributor">
      </editor>
   </extension>

</plugin>
